@font-face {
    font-family: 'Starwars';
    src: url('../fonts/StarJedi-DGRW.eot');
    src: local('☺'), url('../fonts/StarJedi-DGRW.woff') format('woff'), url('../fonts/StarJedi-DGRW.ttf') format('truetype'), url('../fonts/StarJedi-DGRW.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
    height: 100vh;
    width: 100vw;
    background: #000;
    overflow: hidden;
    margin: 0 auto;
}

.fade {
    position: relative;
    height: 60vh;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.episode0 {
    margin-bottom: 150px;
    font-size: 150px;
}

.episode0::first-letter {
    font-size: 150%;
}

.paragraph1 {
    margin-bottom: 200px;
}


.frontend-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 600px;
    color: #feda4a;
    font-size: 500%;
    font-weight: 600;
    line-height: 150%;
    perspective: 500px;
    text-align: justify;
    font-family: 'Starwars', sans-serif;
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 30s linear;
    animation-iteration-count: infinite;
}

.title {
    text-align: center;
    margin-bottom: 100px;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(30deg) translateZ(0);
    }
    100% {
        top: -7000px;
        transform: rotateX(20deg) translateZ(-3000px);
    }
}